# Add any directories, files, or patterns you don't want to be tracked by version control

^sas_plan$
\.pyc$
^driver/.cache/v/cache/lastfailed$
^experiments/issue[0-9]*/data/
^experiments/issue[0-9]*/.*.-microbenchmark/\.obj/
^experiments/issue[0-9]*/.*.-microbenchmark/benchmark$
^experiments/issue[0-9]*/.*.-microbenchmark/Makefile\.depend$
^misc/autodoc/downward-xmlrpc\.secret$
^builds/
^test/
^src/CMakeLists.txt.user$
^roadmap/Ferber_Msc_Thesis_Src
^src/tst.py
^problems*
^examples/.*.sas
^examples/.*sas_plan*
^profile.sh
^tmp/*
^output.sas.*
^CMakeLists.txt
^evaluation/network_runs/evaluation/protobuf_networks/.*
^benchmarks/.*asnet_final_weights.h5
^benchmarks/.*asnet_weights.h5
^benchmarks/.*asnet.pb
^benchmarks/.*sample.data
^benchmarks2/.*
^benchmarks3/.*
^run_training[\d]*.sh

syntax: glob
*training.log
*.h5
*.sample
*.meta
*.orig
*.bak
*.o
*.pyc
*.swp
*.acn
*.ist
*.bbl
*.blg
*.toc
*.out
*.synctex.gz
__pycache__/*
*.idea/*
*.vscode/*
*cmake-build-debug/*
discussion/tmp
